/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 5.8rem;
}
h2 {
  font-size: 3.2rem;
  line-height: 1.25;
  color: #2e765e;
  font-weight: bold;
}
h3 {
  font-size: 2.8rem;
  color: #2e765e;
  font-weight: 600;
}
h4 {
  font-size: 2.8rem;
  color: #2e765e;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f7f9;
  padding: 2rem 2rem;
}
header nav a {
  text-decoration: none;
  color: #71cfc4;
  font-size: 2.6rem;
}
header nav a:hover {
  color: #2e765e;
}
header nav .title {
  display: flex;
}
header nav .title img {
  height: 9%;
  width: 9%;
  margin-left: 10px;
  margin-top: 8px;
}
footer {
  padding: 2rem 2rem;
  margin: 2rem;
}
footer .contact h3 {
  margin: 0 0 1rem;
}
footer .contact h3 p {
  line-height: 1;
}
footer .copyright {
  display: flex;
  justify-content: center;
}
footer .copyright p {
  color: #2e765e;
  font-size: 1.7rem;
}
.title h1 {
  color: #2e765e;
}
.call-to-action {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  padding: 2rem;
  background-color: #e2f4ee;
}
.call-to-action .landing-img img {
  width: 400px;
  height: 550px;
}
.cta-text {
  border: 5px solid #fafffe;
  width: 400px;
  height: 550px;
  padding: 3rem;
}
.cta-text h2 {
  margin: 0 0 2rem;
}
.cta-text p {
  margin: 0 0 2rem;
}
.cta-text .sign-up {
  margin: 0 0 5rem;
  padding: 0.5rem;
}
.cta-text .sign-up a {
  text-decoration: none;
  color: #fafffe;
  font-size: 3rem;
  background-color: #71cfc4;
  padding: 14px 40px;
}
.cta-text .sign-up a:hover {
  background-color: #2e765e;
}
.cta-text .sign-in {
  margin: 0 0 5rem;
  padding: 0.5rem;
}
.cta-text .sign-in a:hover {
  background-color: #2e765e;
}
.cta-text .sign-in a {
  text-decoration: none;
  color: #fafffe;
  font-size: 3rem;
  background-color: #71cfc4;
  padding: 14px 46px;
}
hr {
  color: #f6f7f9;
  width: 95%;
}
.steps-cta h2 {
  font-size: 4.2rem;
  line-height: 1.25;
  color: #2e765e;
  font-weight: bold;
  margin: 3rem;
}
.steps {
  display: flex;
  justify-content: space-around;
  background-color: #f6f7f9;
  max-width: 95%;
  margin: 0 auto;
}
h4 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 2rem 2rem;
}
