.title h1{
    color: @forest;
}

.call-to-action{
    display: flex;
//    align-content: center;
    margin: 3rem;
    padding: 2rem;
    border: @outline;
}

.cta-text h2{
 margin: 0 0 2rem;
}

.cta-text p{
    margin: 0 0 2rem;
}

.cta-text .sign-up {
    margin: 0 0 5rem;
}
.cta-text .sign-up a{
    text-decoration: none;
    color: @white;
    font-size: 3rem;
    background-color: @teal;
    padding: 14px 40px;
}

.cta-text .sign-up a:hover{
    background-color: @forest;
}

.cta-text .sign-in {
    margin: 0 0 5rem;
}

.cta-text .sign-in a:hover{
    background-color: @forest;
}

.cta-text .sign-in a{
    text-decoration: none;
    color: @white;
    font-size: 3rem;
    background-color: @teal;
    padding: 14px 46px;
    }


    hr{
        color: @gray;
        width: 95%;

    }